---
layout: layout.liquid
title: 11ty Boilerplate
---


<div class = "main">
    <h1>Three Things I Can't Live Without</h1>
</div>

<div class "items">
    <a href="/item1/" class="item-box">My Wallet</a>
    <a href="/item2/" class="item-box">Item 2</a>
    <a href="/item3/" class="item-box">Item 3</a>
</div>
