body {
    font-family: Helvetica, sans-serif;
    color: #265e2d;
    background: #f5fdec;
    padding: 0 40px;
    text-align: center;
}


nav {
    margin: 40px auto 0 auto;
    width: 500px;
    border-radius: 10px;
    background: #265e2d;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #f5fdec;
    font-size: 1.2em;
}

h1 {
    font-size: 6em;
    letter-spacing: -2px;
}

.main {
    text-align: center;
    margin-top: 50px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    flex-wrap: wrap; 
}

.item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    background-color: #c5f49a;
    border-radius: 10px;
    color: #265e2d;
    font-size: 1.2rem;
}

.item-box:hover {
    transform: scale(1.05);
    background-color: #a2d870;
}

